<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<% if @user.has_posts? %>
  <%= render @user.posts %>
  <%= image_tag current_user.avatar_url(48), class: "gravatar" %>
  <%= pluralize(@user.posts.count, 'post') %>,
<% else %>
    <div class="media">
      <h2><%= "#{@user.name} has not submitted any posts" %></h2>
    </div>
<% end %>

<% if @user.has_comments? %>
  <%= render @user.comments %>
  <%= image_tag current_user.avatar_url(48), class: "gravatar" %>
  <%= pluralize(@user.comments.count, 'comment') %>,
<% else %>
    <div class="media">
      <h2><%= "#{@user.name} has not submitted any comments" %></h2>
    </div>
<% end %>
